# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
.pnp.*
/dist
/build

# Frontend build output
/dist/
/.next/
/out/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv

# IDEs and OS
.DS_Store
.idea/
*.iml
.vscode/
*.swp

# Logs, coverage, test
coverage/
coverage*.html
*.cover
.pytest_cache/
.mypy_cache/

# Logs
logs/
logs/**
*.log
*.pid
